@model IEnumerable<BookTok.Models.Review>

@{
    ViewData["Title"] = "Books Reviews";
}
<h1>Reviews Index</h1>

<p>
    <a asp-action="AddReview" asp-route-id='@Url.ActionContext.RouteData.Values["id"]'>Create New Review</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>
                Review
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Costumer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costumer.Name)
            </td>
            <td>
                <a asp-action="EditReview" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsReview" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteReview" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>